<template>
    <div @click.self="exit()" class="backdrop">
        <div class="dialog">
            <h1 style="margin: -8px 0;">Add a course:</h1>
            <div class="options-one">
                <h2>Course Name</h2>
                <input v-model="courseName" type="text"/>
                <h2>Course Code</h2>
                <input v-model="courseCode" type="text"/>
            </div>
            <div class="options-two">
                <h2>Credits</h2>
                <input v-model="courseCredits" type="number" min="1" max="4"/>
                <div class="button" @click="doSubmit()">Add course</div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'AddDialog',
    methods: {
        doSubmit() {
            let course = {
                name: this.courseName,
                course: this.courseCode,
                credits: +this.courseCredits,
                grade: 'B',
                target: 'B',
            }
            this.$emit('form-submit', course);
        },
        exit() {
            this.$emit('exit-form')
        }
    },
    data() {
        return {
            courseName: "",
            courseCode: "",
            courseCredits: 1
        }
    }
}
</script>

<style lang="less" scoped>
.backdrop {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    background-color: #0000007f;

    backdrop-filter: blur(5px);
}

@media only screen and (max-width: 500px) {
    .dialog {
        width: 100% !important;
        border-radius: 0 !important;
    }
} 

@media only screen and (max-height: 442px) {
    .dialog {
        width: 100% !important;
        border-radius: 0 !important;
    }
    .options-one {
        float:left;
        width: 50%;
        padding-right: 6px;
    }
    .options-two {
        float:right;
        width: 50%;
        padding-left: 6px;
    }
    .button {
        margin-top: 50px !important;
    }
}

.blur-leave-active,
.blur-enter-active {
  transition: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.blur-enter {
  opacity: 0;
}
.blur-leave-to {
  opacity: 0;
}
h2 {
	font-size: 16px;
	font-weight: normal;

	line-height: 60px;

    margin: -6px 0 ;

	width: 500px;
	
	text-align: left;
}

.dialog {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 348px;

    background-color: var(--bg-color);

    padding: 24px;

    color: var(--fg-color);

    border-radius: 12px;
}

input[type="text"], input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    user-select: text;

    background-color: var(--chrome); //#ffffff0f;
    color: inherit;

    outline: none;
    border: none;

    padding: 12px;

    width: 100%;

    font-size: 14px;

    border-radius: 12px;
}

.button {
    background-color: var(--chrome);

    margin-top: 24px;

    padding: 12px;

    font-size: 14px;

    border-radius: 12px;
}

.button:hover {
    background-color: var(--chrome-hover);
}

.button:active {
    background-color: var(--chrome-active);
}
</style>
