<template>
    <transition name="blur">
        <div v-if="isShowing" class="backdrop">
            <div class="dialog">
                <h1 style="margin-left: 0;">{{prompt}}</h1>
                <input v-model="inputText" type="text"/>
                <div class="button" @click="doSubmit()">Set Name</div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    name: 'InputDialog',
    methods: {
        doSubmit() {
            this.isShowing = false
            this.$emit('form-submit', this.inputText)
        }
    },
    data() {
        return {
            isShowing: true,
            inputText: "",
        }
    },
    props: {
        prompt: String,
    }
}
</script>

<style lang="less" scoped>
.backdrop {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;

    background-color: #0000007f;

    backdrop-filter: blur(5px);
}

@media only screen and (max-width: 500px) {
    .dialog {
        width: 100% !important;
        border-radius: 0 !important;
    }
} 


.blur-leave-active,
.blur-enter-active {
  transition: 1s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.blur-enter {
  opacity: 0;
}
.blur-leave-to {
  opacity: 0;
}

.dialog {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 348px;

    background-color: var(--bg-color);

    padding: 24px;

    color: var(--fg-color);

    border-radius: 12px;

    overflow-y: scroll;
}

input[type="text"] {
    -webkit-appearance: none;
    appearance: none;
    user-select: text;

    background-color: var(--chrome); //#ffffff0f;
    color: inherit;

    outline: none;
    border: none;

    padding: 12px;

    width: 100%;

    font-size: 14px;

    border-radius: 12px;
}

.button {
    background-color: var(--chrome);

    margin-top: 24px;

    padding: 12px;

    font-size: 14px;

    border-radius: 12px;
}

.button:hover {
    background-color: var(--chrome-hover);
}

.button:active {
    background-color:  var(--chrome-active);
}
</style>
