<template>
	<div id="view" class="theme">
		<div id="app"> 
			<div class="topbar">
				<h1 @click="queryName()">{{name}}</h1>
				<div class="new-class-button" @click="showDialog = true">+</div>
				<div class="gpa-disp" v-bind:class="{ 'gpa-red': totalQPA + .3 * totalCredits < targetQPA, 'gpa-yellow': totalQPA + .3 * totalCredits >= targetQPA && totalQPA < targetQPA, 'gpa-green': totalQPA >= targetQPA  }">{{(totalCredits == 0 ? 0 : (totalQPA / totalCredits)).toFixed(2)}}</div>
			</div>
			<div class="table-container">
				<table>
					<tr>
						<th>Course Name</th>
						<th>Course Code</th>
						<th>Credits</th>
						<th>Grade</th>
						<th>GPA</th>
						<th>Target Grade</th>
						<th>Target GPA</th>
						<th></th>
					</tr>
					<tr v-for="(c, index) in classes" :key="c.course">
						<td>{{c.name}}</td>
						<td>{{c.course}}</td>
						<td>{{c.credits}}</td>
						<td>
							<select name="grade" @change="changeGrade" v-model="classes[index].grade">
								<option v-for="g in ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F']" :key="g">{{g}}</option>
							</select>
						</td>
						<td>{{(gradeToGPA(c.grade)).toFixed(1)}}</td>
						<td>
							<select name="target" @change="changeGrade" v-model="classes[index].target">
								<option v-for="g in ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F']" :key="g">{{g}}</option>
							</select>
						</td>
						<td>{{(gradeToGPA(c.target)).toFixed(1)}}</td>
						<td style="padding-left:0;" class="remove" @click="removeCourse(c.course)">
							<div class="x-button">&times;</div>
						</td>
					</tr>
					<tr>
						<td>Total</td>
						<td></td>
						<td>{{totalCredits}}</td>
						<td></td>
						<td>{{(totalCredits == 0 ? 0 : totalQPA / totalCredits).toFixed(2)}}</td>
						<td></td>
						<td>{{(totalCredits == 0 ? 0 : targetQPA / totalCredits).toFixed(2)}}</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<transition name="slide">
			<AddDialog v-if="showDialog" @form-submit="addCourse" @exit-form="exitAddCourse">
			</AddDialog>
		</transition>
		<InputDialog v-if="showNameDialog" prompt="What's your name?" @form-submit="setName">
		</InputDialog>
	</div>
</template>

<script>

import AddDialog from './components/AddDialog.vue'
import InputDialog from './components/InputDialog.vue'

export default {
	name: 'app',
	computed: {
		totalCredits() {
			return this.classes.reduce((sum, c) => {return sum + c.credits}, 0)
		},
		totalQPA() {
			return this.classes.reduce((sum, c) => {return sum + c.credits * gradeToGPA(c.grade)}, 0)
		},
		targetQPA() {
			return this.classes.reduce((sum, c) => {return sum + c.credits * gradeToGPA(c.target)}, 0)
		},
		getGpa() {
			if (this.totalCredits() == 0) {
				return 0
			} else {
				return this.totalQPA() / this.totalCredits()
			}
		},
		targetGpa() {
			let totalCredits = this.totalCredits();
			if (totalCredits < 1) {
				return 0
			} else {
				return this.targetQPA() / totalCredits
			}
		}
	},
	methods: {
		gradeToGPA(grade) {
			return { 'A': 4.0, 'A-': 3.7, 'B+': 3.3, 'B': 3.0, 'B-': 2.7, 'C+': 2.3, 'C' : 2.0, 'C-': 1.7, 'D+': 1.3, 'D': 1.0, 'D-': .7 }[grade] || 0;
		},
		changeGrade() {
			localStorage.setItem('classes', JSON.stringify(this.classes))
		},
		changeName() {
			localStorage.setItem('name', this.name)
		},
		dispBackground(diff) {
			if(diff <= 0) {
				return 'green';
			} else if (diff >= '.3') {
				return 'yellow'
			} else{
				return 'red';
			}
		},
		addCourse(course) {
			this.classes.push(course)
			this.changeGrade()
			this.showDialog = false
		},
		exitAddCourse() {
			this.showDialog = false
		},
		removeCourse(course) {
			this.classes = this.classes.filter(function(cl) { return cl.course != course })
			this.changeGrade()
		},
		queryName() {
			this.showNameDialog = true
		},
		setName(name) {
			this.name = name
			this.changeName()
			this.showNameDialog = false
		}
	},
	mounted() {
		if (localStorage.getItem('classes')) {
			this.classes = JSON.parse(localStorage.getItem('classes'))
		}
		if (localStorage.getItem('name')) {
			this.name = localStorage.getItem('name')
		} else {
			this.queryName()
		}
	},
	data() {
		return {
			classes: [
			],
			name: '',
			showDialog: false,
			showNameDialog: false,
		}
	},
	components: {
		AddDialog,
		InputDialog
	}
}

function gradeToGPA(grade) {
	return { 'A': 4.0, 'A-': 3.7, 'B+': 3.3, 'B': 3.0, 'B-': 2.7, 'C+': 2.3, 'C' : 2.0, 'C-': 1.7, 'D+': 1.3, 'D': 1.0, 'D-': .7 }[grade] || 0;
}
</script>

<style lang="less">
html, body {
	height: 100%;
	margin: 0;
}

#view {
	position: absolute;
	top: 0; height: 100%;
	left: 0; width: 100%;

	overflow: hidden;

	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}

.remove {
	font-size: 20px;
	width: 40px;
}

@media(prefers-color-scheme: dark) {
	.theme {
		--fg-color: #eeeeee !important;
		--bg-color: black !important;
		--header-color: #1f1f1f !important;
		--cell-color: #2f2f2f !important;
		--footer-color: #272727 !important;
		--chrome: #ffffff0f !important;
		--chrome-hover: #ffffff1f !important;
		--chrome-active: #ffffff3f !important;
	}
}

.theme {
	--fg-color: black;
	--bg-color: #e7e7e7;
	--header-color: #d7d7d7;
	--cell-color: #dfdfdf;
	--footer-color: #cfcfcf;
	--chrome: #0000000f;
	--chrome-hover: #0000001f;
	--chrome-active: #0000003f;
}



#app {
	margin-top: 60px;

	height: 100%;

	cursor: default;

	background-color: var(--bg-color);
	color: var(--fg-color);
}

table {
	border-collapse: collapse;
	width: 100%;
	min-width: 600px;


}

.table-container {
	overflow-x: auto;
	overflow-y: auto;
	position: absolute;

	left: 0;
	width: 100%;

	bottom: 0;
	top: 60px;
}

td {
	background-color: transparent;
	height: 40px;
}

td, th {
	border:none;
	text-align: left;
	padding-left: 20px;
}

th {
	height: 60px;
	background-color: var(--header-color);
}

tr {
	background-color: var(--cell-color);
}

tr:last-child {
	background-color: var(--footer-color);
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	text-indent: 3px;

	padding: 12px;

	border:none;

	color: inherit;

	font-size: 1em;

	background-color: transparent;
}

.topbar {
	left: 0; right: 0;

	top: 0; height: 60px;

	position: absolute;

	background-color: var(--bg-color);
}

.gpa-disp {
	position: absolute;

	width: 120px;
	height: 40px;
	line-height: 40px;

	border-radius: 20px;

	top: 10px;

	color: white;

	font-size: 20px;

	right: 60px;
}

.gpa-green {
	background: linear-gradient(to bottom right, #007f39, rgb(10, 173, 10));
}

.gpa-yellow {
	background: linear-gradient(to bottom right, rgb(255, 174, 0), rgb(255, 205, 0));
}

.gpa-red {
	background: rgb(182, 12, 46);
	background: linear-gradient(to bottom right, rgb(182, 12, 46), rgb(205, 12, 20));
}

* {
	user-select: none;
	box-sizing: border-box;
}

.new-class-button {
	position: absolute;

	background: transparent;

	top: 10px;
	right: 10px;

	height: 40px;
	width: 40px;

	line-height: 36px;
	font-size: 32px;

	border-radius: 20px;

	background-color: var(--chrome);

	transition: background-color .2s;
}

.new-class-button:hover {
	background-color: var(--chrome-hover);
}

.new-class-button:active {
	background-color: var(--chrome-hover);
}

.x-button {
	background-color: var(--chrome);

	width: 30px;
	height: 30px;

	line-height: 28px;

	border-radius: 15px;

	text-align: center;

	font-weight:bold;

	transition: background-color .2s;
}

.x-button:hover {
	background-color: var(--chrome-hover);
}

.x-button:active {
	background-color: var(--chrome-hover);
}

h1 {
	font-size: 20px;
	font-weight: normal;

	line-height: 60px;

	margin: 0;
	margin-left: 20px;

	width: 500px;
	
	text-align: left;
}

.slide-leave-active,
.slide-enter-active {
  transition: .2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.slide-enter {
	opacity:0;
  /*transform: translate(100%, 0);*/
}
.slide-leave-to {
	opacity: 0;
  /*transform: translate(100%, 0);*/
}
</style>
